*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

.container {
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
}
@media only screen and (max-width: 1000px) {
  .container {
    border-radius: 0;
  }
}

#button__block {
  width: 100%;
  max-width: 680px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

#button__block a {
  display: flex;
  align-items: center;
  padding: 12px !important;
  margin: 20px auto;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #fbfdfb;
  border: none !important;
  width: auto;
}

.text_box .game_title {
  width: 50%;
  font-weight: 700;
  justify-content: center;
  background-color: crimson !important;
  border: 1px solid crimson;
  color: rgb(255, 255, 255) !important;
  padding: 5px;
}

.text_box a {
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#button__block a:nth-child(1) {
  background-color: #0d8f1c;
}
#button__block a:nth-child(2) {
  background-color: #0e65fa;
}

.copyright_section {
  margin: 0rem;
  padding: 1rem;
  position: relative;
  background: #0d8f1c;
  color: #fff;
}
