*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* start .marquee */
:root {
  --color-text: navy;
  --color-bg: papayawhip;
  --color-bg-accent: #ecdcc0;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

body {
  /* display: grid; */
  align-content: center;
  gap: var(--gap);
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.item:nth-child(1) {
  background: #74c390;
}
.item:nth-child(2) {
  background: #51bce8;
}
.item:nth-child(3) {
  background: #e46653;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 57%;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

.container {
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
}
@media only screen and (max-width: 1000px) {
  .container {
    border-radius: 0;
  }
}

#button__block {
  width: 100%;
  max-width: 680px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

#button__block a {
  display: flex;
  align-items: center;
  padding: 12px !important;
  margin: 20px auto;
  background-color: #ffe900;
  text-decoration: none;
  color: #fbfdfb;
  border: none !important;
  width: auto;
}

.text_box .game_title {
  width: 50%;
  justify-content: center;
  background-color: crimson !important;
  border: 1px solid crimson;
  color: #fff !important;
  padding: 5px;
}

.text_box a {
  border-radius: 50px;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#button__block a:nth-child(1) {
  background-color: #5d2fdf;
}
#button__block a:nth-child(2) {
  background-color: #19cf84;
}

.copyright_section {
  margin: 0rem;
  padding: 1rem;
  position: relative;
  background: #5d2fdf;
  color: #fff;
}
